body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/*Navbar*/
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-route {
  color: rgb(253, 20, 20);
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.addNewEscape {
  height: 40px;
  border: 2px solid rgb(253, 20, 20);
  border-radius: 20px;
}

/*Footer*/
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-social,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-social i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.f-info {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: space-evenly;
}

/*Cards*/
.listing-card {
  border: none !important;
  margin: 1rem;
}

.card-img-top {
  border-radius: 0.5rem;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.listing-link {
  text-decoration: none;
}

/*Card effect*/
.listing-link:hover {
  border-color: rgb(240, 216, 181);
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.4;
  background-color: white;
}

/*New page*/
.add-btn {
  background-color: rgb(209, 28, 15) !important;
  border: none !important;
}

/*Edit Page*/
.edit-btn {
  background-color: rgb(209, 28, 15) !important;
  color: white !important;
  text-decoration: none !important;
  border: none !important;
}

/*Show page*/
.show-img {
  height: 25rem !important;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

#map {
  height: 400px;
  width: 90vh;
  border: 1px solid #000000;
}
