<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
  <h3 class="col-4 offset-4 mb-3">SignUp on StayScape</h3>
  <div class="col-4 offset-4">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" required id="username">
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required id="email">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required id="password">
      </div>

      <button class="btn btn-success">SignUp</button>
    </form>
  </div>
</div>